## -*- coding: utf-8 -*-
<%inherit file="/_site.html"/>
<%block name="title">הישארו מעודכנים</%block>
<%block name="head">
    ${parent.head()}
    <meta property="og:title" content="הישארו מעודכנים | דימונה אוהבת חיות" />
    <meta property="og:description" content="הירשמו לרשימת התפוצה שלנו כדי להתעדכן בפעילויות כשהן קורות" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{request.url}}static/images/dla-logo.png" />
    <meta property="og:url" content="{{request.url}}" />
    % if config['PRODUCTION']:
	<link rel="stylesheet" type="text/css" href="/static/css/subscribe.min.css" />
    % else:
	<link rel="stylesheet/less" type="text/css" href="/static/subscribe/subscribe.less" />
    % endif
</%block>

    <section id="header">
	<div class="container text-center">
	    <img src="/static/images/dla-logo.png">
    	    <h1>דימונה אוהבת חיות</h1>
    	    <h2 class="lead">מתנדבים למען <span class="color">בעלי החיים</span>; למען <span class="color">דימונה</span>.</h2>
    	</div>
    </section>

<div class="container text-center">
    <section id="now">
        <i class="fa fa-paw fa-5x"></i>
        <h1>הישארו מעודכנים</h1>
        <h2 class="lead">הירשמו לרשימת התפוצה החדשה שלנו <span class="pcolor">והתעדכנו</span> במייל על הפעילויות השונות</h2>
    </section>

</div>

    <section id="subscribe">
	<div class="container">
	    <div class="row row-centered">
		<div class="col-md-5 col-centered">
    		    <%include file="/subscribe/_subscribe.html"/>
		</div>
	    </div>
	</div>
    </section>

<div class="container text-center">

    <section>
	<h3>מיילים אחרונים</h3>
        <a href="http://us10.campaign-archive1.com/?u=39c41e4af233310c4f65aba7f&id=d7ee81a568&e=[UNIQID]" target="_blank">לצפייה במייל מס' #1 (18/06/15)</a>
    </section>
    </hr>
    <section id="more">
	<h2>תודה שביקרתם כאן!</h2>
	<p class="lead">מקווים שנהיה בקשר ואתם מוזמנים לבקר בדף "<a href="/">עזרו לנו</a>" ולמצוא באילו עוד דרכים אתם יכולים 
	<a href="/#help">לעזור</a></p>
    </section>
    <section id="connect">
        <h3>צרו קשר</h3>
        <%include file="/subscribe/_connect.html"/>
    </section>

</div>