<div class="text-center center-block">
    <a target="_blank" href="https://www.facebook.com/dimonalovesanimals"><i class="fa fa-facebook-square fa-3x social social-fb"></i></a>
    <a target="_blank" href="" style="display:none;"><i class="fa fa-twitter-square fa-3x social social-tw"></i></a>
    <a target="_blank" href="https://plus.google.com/+DimonalovesanimalsOrgPage"><i class="fa fa-google-plus-square fa-3x social social-gp"></i></a>
    <a target="_blank" href="mailto:dimonalovesanimals@gmail.com"><i class="fa fa-envelope-square fa-3x social social-em"></i></a>
</div>
