## -*- coding: utf-8 -*-
<div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>

<div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="10000">
	<!-- Carousel indicators -->
        <ol class="carousel-indicators">
	    <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>
	    <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
	    <li data-target="#fade-quote-carousel" data-slide-to="2"></li>
	</ol>
	<!-- Carousel items -->
	<div class="carousel-inner">
	    <div class="active item">
		${quote(
		    text=u"יישר כוח לעושים במלאכה... אני מאמין כי נקודות הזכות הללו עוד יעמדו לכם ביום מן הימים... תודה.",
		    image="/static/images/quote1.jpg",
		    name=u"בני ביטון",
		    title=u"ראש עיריית דימונה"
		)}
	    </div>
	    <div class="item">
		${quote(
		    text=u'אני פונה אליכם הציבור לבוא ולסייע לכלבים החמודים אם זה באימוץ, לקחת אותם לטייל או סתם לבוא וללטף אותם. כי גם להם מגיע יחס חם!.',
		    image="/static/images/quote2.jpg",
		    name=u"אילנה אזולאי",
		    title=u"ממלאת מקום ראש עיריית דימונה"
		)}
	    </div>
	    <div class="item">
		${quote(
		    text=u'עבורי באופן אישי זה מפעל מדהים.',
		    image="/static/images/quote3.jpg",
		    name=u"אריאל ללוש",
		    title=u"סגן ראש עיריית דימונה"
		)}
	    </div>
	</div>
</div>

<%def name="quote(text, image, name, title)">
    <blockquote>
        <p>${text}</p>
    </blockquote>
    <div class="profile-circle" style="background-color:rgba(0,0,0,.2);background-image:url('${image}')"></div>
    <div class="person">
        <span class="name">${name}</span><br/>
        <span class="title">${title}</span>
    </div>
</%def>