## -*- coding: utf-8 -*-
<div class="center text-center">
    <h2>הרשמה לרשימת התפוצה</h2>
    <p>הירשמו לרשימת התפוצה שלנו כדי להתעדכן בפעילויות כשהן קורות</p>
    <form action="." method="post">
	<fieldset>
    	    <div class="form-group">
        	<div class="input-prepend"><span class="add-on"><i class="icon-envelope"></i></span>
            	    <input type="email" id="email" name="email" placeholder="your@email.com" style="direction:ltr;" class="form-control input-md" required>
    		</div>
	    </div>
    	    <input type="submit" value="הירשמו עכשיו!" class="btn btn-large" />
        </fieldset>
    </form>
</div>
