## -*- coding: utf-8 -*-
<%inherit file="/_site.html"/>
<%block name="title">רוצים לעזור?</%block>
<%block name="head">
    ${parent.head()}
    <meta property="og:title" content="רוצים לעזור? | דימונה אוהבת חיות" />
    <meta property="og:description" content="מתנדבים למען בעלי החיים; למען דימונה.">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{request.url}}static/images/dla-logo.png" />
    <meta property="og:url" content="{{request.url}}" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@DimonaLvAnimals">
    <meta name="twitter:creator" content="@etaycs">
    <meta name="twitter:title" content="רוצים לעזור? דימונה אוהבת חיות">
    <meta name="twitter:description" content="מתנדבים למען בעלי החיים; למען דימונה.">
    <meta name="twitter:image" content="{{request.url}}static/images/people.jpg">

    % if config['PRODUCTION']:
	<link rel="stylesheet" type="text/css" href="/static/css/index.min.css" />
	<script src="/static/js/index.min.js" type="text/javascript"></script>
    % else:
	<link rel="stylesheet/less" type="text/css" href="/static/index/index.less" />
	<script src="/static/index/index.js" type="text/javascript"></script>
    % endif
</%block>

    <section id="header">
	<div class="container text-center">
	    <img src="/static/images/dla-logo.png">
    	    <h1>דימונה אוהבת חיות</h1>
    	    <h2 class="lead">מתנדבים למען <span class="color">בעלי החיים</span>; למען <span class="color">דימונה</span>.</h2>
    	</div>
    </section>


<div class="container text-center">


    <section id="intro">
        <i class="fa fa-paw fa-5x"></i>
        <h1>רוצים לעזור?</h1>
        <h2 class="lead">דימונה אוהבת חיות <a href="#help">זקוקה לכם</a>!</h2>
        <blockquote class="text-right">
"הבטח לי דבר אחד, נילס, לזכור תמיד: השמים, האדמה, האגמים, ההרים לא ניתנו רק לבני האדם. הם ניתנו גם לבעלי החיים: לציפורים ולדגים ולכל מי שנשמה באפו. לעולם אל תשכח את זה, נילס!"
- סלמה לגרלף
{ מתוך הספר "מסע הפלאים של נילס הולגרסון הקטן ואווזי הבר" }
        </blockquote>
	<!-- Place this tag in your head or just before your close body tag. -->
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<!-- Place this tag where you want the +1 button to render. -->
	<div class="g-plusone"></div>
    </section>

    <hr/>
    <section style="display:none;">
	<img src="/static/images/people.jpg">
    </section>

    <section id="help">
	<i class="fa fa-heart fa-5x"></i>
	<h3>אלו הדרכים בהם תוכלו לעזור:</h3>
	<%include file="/index/_areas.html"/>
    </section>

    <section id="help">
	<i class="fa fa-wrench fa-5x"></i>
	<h3>אם אתם מבינים בתחומים הבאים:</h3>
	<%include file="/index/_jobs.html"/>
	<p class="lead">דימונה אוהבת חיות <a href="http://citykennel.dimonalovesanimals.org/contact/">זקוקה לכם!</a></p>
    </section>

    <hr>

    <section id="carousel">
	<div class="row">
	    <div class="col-md-8 col-md-offset-2">
		<%include file="/index/_quotes.html"/>
	    </div>
	</div>
    </section>
</div>

    <section id="subscribe">
	<div class="container">
    	    <div class="row row-centered">
		<div class="col-md-5 col-centered">
    		    <%include file="/index/_subscribe.html"/>
		</div>
	    </div>
	</div>
    </section>

<div class="container text-center">
    <section id="connect">
        <h3>צרו קשר</h3>
        <%include file="/index/_connect.html"/>
    </section>
</div>