## -*- coding: utf-8 -*-
<%inherit file="/_site.html"/>
<%block name="title">רוצים לעזור?</%block>
<%block name="head">
    ${parent.head()}
    <meta property="og:title" content="רוצים לעזור? | דימונה אוהבת חיות" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{request.url}}static/images/dla-logo.png" />
    <meta property="og:url" content="{{request.url}}" />
    % if config['PRODUCTION']:
	<link rel="stylesheet" type="text/css" href="/static/css/kennel.min.css" />
    % else:
	<link rel="stylesheet/less" type="text/css" href="/static/kennel/kennel.less" />
    % endif
</%block>

    <section id="header">
	<div class="container text-center">
	    <img src="/static/images/dla-logo.png">
    	    <h1>דימונה אוהבת חיות</h1>
    	    <h2 class="lead">מתנדבים למען <span class="color">בעלי החיים</span>; למען <span class="color">דימונה</span>.</h2>
    	</div>
    </section>


<div class="container text-right">
    <section>
	<div class="row">
	    <div class="col-md-6">
        	<h2>תרומה לכלבי ההסגר</h2>
	        <h3>להלן רשימת המוצרים שניתן לתרום עבור <a href="http://citykennel.dimonalovesanimals.org" target="_blank">כלבי ההסגר:</a></h3>
		<ul>
		    <li>(חיסון משושה (החיסון מאוד נחוץ לכלבים. חיסון זה מונע שישה סוגים של מחלות הנפוצות אצל הכלבים</li>
		    <li>שמיכות ובדים ישנים</li>
		    <li>קפסולות נגד קרציות</li>
		    <li>ספרי נגד פרעושים/קרציות</li>
		    <li>שמפו לכלבים</li>
		    <li>צעצועים לכלבים</li>
	    	    <li>מלונות</li>
		    <li>ארגזים מפלסטיק עבור הגורים</li>
		    <li>קולרים ורצועות</li>
		</ul>
		<p class="lead">כל תרומה תתקבל בברכה! <a href="/#intro">עוד דרכים לעזור...</a></p>
	    </div>
	    <div class="col-md-6">
		<p>תרומות יש להעביר למחלקה הווטרינרית העירונית: 073-2756175
		</br>שעות פעילות:
                </br>א',ב',ד',ה' – 8:00- 15:30
	        </br>ג' – 8:00-13:00 , 15:30- 18:00
    		</br>כתובת: רח' הבאבא סאלי 1 בדימונה קרוב לבית האבות ולכניסה הדרומית לעיר.
		</p>
		<div id="map">
		    <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Baba+Sali+1,+Dimona,+Israel&amp;aq=&amp;sll=31.060526,35.025787&amp;sspn=0.01011,0.021007&amp;ie=UTF8&amp;hq=&amp;hnear=Baba+Sali+1,+Dimona,+Israel&amp;ll=31.060526,35.025787&amp;spn=0.01011,0.021007&amp;t=m&amp;z=14&amp;output=embed"></iframe>
		</div>
	    </div>
	</div>
    </section>
</div>

    <section id="subscribe">
	<div class="container">
	    <div class="row row-centered">
		<div class="col-md-5 col-centered">
    		    <%include file="/kennel/_subscribe.html"/>
		</div>
	    </div>
	</div>
    </section>

<div class="container text-center">
    <section id="connect">
        <h3>צרו קשר</h3>
        <%include file="/kennel/_connect.html"/>
    </section>
</div>