## -*- coding: utf-8 -*-
<%inherit file="/_site.html"/>
<%block name="title">רוצים לעזור?</%block>
<%block name="head">
    ${parent.head()}
    <meta property="og:title" content="רוצים לעזור? | דימונה אוהבת חיות" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{request.url}}static/images/dla-logo.png" />
    <meta property="og:url" content="{{request.url}}" />
    % if config['PRODUCTION']:
	<link rel="stylesheet" type="text/css" href="/static/css/kennel.min.css" />
	<script src="/static/js/kennel.min.js" type="text/javascript"></script>
    % else:
	<link rel="stylesheet/less" type="text/css" href="/static/kennel/kennel.less" />
	<script src="/static/kennel/kennel.js" type="text/javascript"></script>
    % endif
</%block>

    <div id="topbar">
	<div class="span1"></div>
	<div class="span2"></div>
	<div class="span3"></div>
	<div class="span4"></div>
    </div>

    <section id="header">
	<div class="container text-center">
	    <img src="/static/images/dla-logo.png">
    	    <h1>דימונה אוהבת חיות</h1>
    	    <h2 class="lead">מתנדבים למען <span class="color">בעלי החיים</span>; למען <span class="color">דימונה</span>.</h2>
    	</div>
    </section>


<div class="container text-right">
    <section id="intro">
        <h1>תרומה לכלבי ההסגר</h1>
        <h2 class="lead">להלן רשימת המוצרים שניתן לרכוש עבור הכלבים הנמצאים בהסגר:</h2>
	<ul>
	    <li>(חיסון משושה (החיסון מאוד נחוץ לכלבים. חיסון זה מונע שישה סוגים של מחלות הנפוצות אצל הכלבים</li>
	    <li>שמיכות ובדים ישנים</li>
	    <li>קפסולות נגד קרציות</li>
	    <li>ספרי נגד פרעושים/קרציות</li>
	    <li>שמפו לכלבים</li>
	    <li>צעצועים לכלבים</li>
	    <li>מלונות</li>
	    <li>ארגזים מפלסטיק עבור הגורים</li>
	    <li>קולרים ורצועות</li>
	</ul>
	<p>תרומות יש להעביר למחלקה הווטרינרית העירונית: 073-2756175
	    </br>שעות פעילות:
            </br>א',ב',ד',ה' – 8:00- 15:30
	    </br>ג' – 8:00-13:00 , 15:30- 18:00
	    </br>כתובת: רח' הבאבא סאלי 1 בדימונה קרוב לבית האבות ולכניסה הדרומית לעיר.
	</p>
	<p class="lead">כל תרומה תתקבל בברכה!</p>
    </section>
</div>


    <section id="subscribe">
	<div class="row row-centered">
	    <div class="col-md-5 col-centered">
    		<%include file="/kennel/_subscribe.html"/>
	    </div>
	</div>
    </section>

<div class="container text-center">
    <section id="connect">
        <h3>צרו קשר</h3>
        <%include file="/kennel/_connect.html"/>
    </section>
</div>

<footer><%include file="/kennel/_footer.html"/></footer>